<html>
    <head>
        <title></title>
    </head>
    <body>
        {% for message in messages %}
            <h3 style='color: red'>{{message}}</h3>
        {% endfor %}
        <h2>Add a new course</h2>
        <form action='/add' method='post'>
            {% csrf_token %}
            <p>Name: <input type='text' name='name'></p>
            <p>Description: <textarea name='description'></textarea></p>
            <input type='submit' value='Add'>
        </form>
        <h2>Courses</h2>
        <table>
            <tr>
                <td>Course Name</td>
                <td>Description</td>
                <td>Date Added</td>
                <td>Actions</td>
            </tr>
            {% for course in courses %}
            <tr>
                <td>{{course.name}}</td>
                <td>{{course.description}}</td>
                <td>{{course.created_at}}</td>
                <td><a href='/delete/{{course.id}}'>remove</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>