* {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	background-color: navy;
	padding: 10px;
	width: 970px;
}

h1, h2, li, p, a {
	color: cyan;
}

li, p, a {
	font-size: 13px;
}

li {
	margin-left: 18px;
}

.inside_list * {
	list-style-position: inside;
}

.header {
	width: 910px;
	background-color: red;
	border-radius: 10px;
	padding: 20px;
	margin: 0px 10px;
}

.right_menu {
	width: 160px;
	background-color: darkcyan;
	border-radius: 10px;
	display: inline-block;
	padding: 15px;
	margin-left: 10px;
	margin-top: 10px;
}

.main {
	width: 725px;
	background-color: black;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	margin: 10px;
}

.main h2, p {
	padding: 5px;
}

span {
	color: purple;
}

.bottom {
	width: 910px;
	background-color: gray;
	border-radius: 10px;
	padding: 20px;
	margin: 0px 10px;
}