<html>
    <body>
        <h2>COUNTER</h2>
        <p><%= counter %></p>
        <form action='/plus_two' method='post'>
            <input type='submit' value='Add Two'>
        </form>
        <form action='/reset' method='post'>
            <input type='submit' value='Reset'>
        </form>
    </body>
</html>