<html>
    <head>
        <title></title>
        <style>
            #wrapper {
                width: 1200px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <div id='wrapper'>
            <h2>Welcome to the Great Number Game</h2>
            <p>I am thinking of a number between 1 and 100</p>
            <p>Take a guess</p>
            <h2 class='result'>{{ session['result'] }}</h2>
            <form action='/guess_num' method='post'>
                <input type='text' name='number'>
                <button>submit</button>
            </form>
        </div>
    </body>
</html>