<html>
    <head>
        <title></title>
        <style>
            * {
                margin-left: auto;
                margin-right: auto;
            }
            h3 {
                border: 2px solid black;
                text-align: center;
                width: 300px;
            }
            div {
                border: 2px solid black;
                text-align: center;
                width: 600px;
            }
        </style>
    </head>
    <body>
        <h3>The current time and date</h3>
        <div>
            <h2>{{date}}</h2>
            <h2>{{time}}</h2>
        </div>
    </body>
</html>