<html>
    <head></head>
    <meta charset="UTF-8">
    <body>
        <p><%= animal.name %></p>
        <a href='/animals/edit/<%= animal._id %>'><button>Edit</button></a>
        <a href='/animals/destroy/<%= animal._id %>'><button>Delete</button></a>
    </body>
</html>