<h2>SIGN IN</h2>
<% if flash[:notice] %>
    <% flash[:notice].each do |note| %>
        <p style='color: red;'><%= note %></p>  
    <% end %>
<% end %>
<form action='/register' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <p>First Name <input type='text' name='user[first_name]' id='first_name'></p>
    <p>Last Name <input type='text' name='user[last_name]' id='last_name'></p>
    <p>Username <input type='text' name='user[username]' id='username'></p>
    <input type='submit' value='Sign In'>
</form>