<html>
    <head>
        <tilte></tilte>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='dojoSurveyValid.css') }}">
    </head>
    <body>
        <div id='wrapper'>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}<p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action='/result' method='post'>
                <div>
                    <p>your name</p>
                    <input type='text' name='name'>
                </div>
                <div>
                    <p>location</p>
                    <select name='location'>
                        <option>San Jose</option>
                    </select>
                </div>
                <div>
                <p>language</p>
                    <select name='language'>
                        <option>Python</option>
                        <option>Chinese</option>
                    </select>
                </div>
                <p>comments (optional)</p>
                <textarea name='description'></textarea>
                <button>button</button>
            </form>
        </div>
    </body>
</html>