<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>Add a new user</h2>
        <form action='/users/create' method='post'>
            <p>First name:</p>
            <input type='text' name='first_name'>
            <p>Last name:</p>
            <input type='text' name='last_name'>
            <p>Email:</p>
            <input type='text' name='email'>
            <input type='submit' value='Create'>
        </form>
        <a href='http://localhost:5000/users'>Go Back</a>
    </body>
</html>