<html>
    <body>
        <h1>UNIQUE ROUTE</h1>
        <% for (var x in cat) { %>
            <img src=<%= cat[x].img %>>
            <p>Name: <%= cat[x].name %></p>
            <p>Food: <%= cat[x].food %></p>
            <p>Favorite Spot: <%= cat[x].spot %></p>
        <% } %>
    </body>
</html>