<html>
    <head></head>
    <meta charset="UTF-8">
    <body>
        <h2>All Quotes</h2>
        <%- JSON.stringify(quotes) %>
        <% for(var i=0; i<quotes.length; i++) { %>
            <p>"<%= quotes[i].quote %>"</p>
            <p>-<%= quotes[i].name %> at <%= quotes[i].createdAt %></p>
        <% } %>
    </body>
</html>