<html>
    <meta charset="UTF-8">
    <head></head>
    <body>
        <% for(var i=0; i<users.length; i++) { %>
            <p>Name: <%= users[i].name %></p>
            <p>Age: <%= users[i].age %></p>
        <% } %>
        <form action='/users' method='post'>
            <p>Name: <input type='text' name='name'></p>
            <p>Age: <input type='text' name='age'></p>
            <input type='submit' value='Submit'>
        </form>
    </body>
</html>